.notFound {
  @apply fixed h-screen inset-0;

  box-sizing: border-box;
  background-color: #000;
  background-image: radial-gradient(#11581e, #041607), url("../assets/img/404-noise.webp");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: monospace;
  font-size: 1.2rem;
  color: rgb(128 255 128 / 80%);
  text-shadow: 0 0 1ex #3f3, 0 0 2px rgb(255 255 255 / 80%);
  margin: 0 auto;
}

.noise {
  @apply absolute w-full h-full;

  pointer-events: none;
  background-image: url("../assets/img/404-noise.webp");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.02;
}

.overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(180deg, rgb(0 0 0 / 0%) 0, rgb(0 0 0 / 30%) 50%, rgb(0 0 0 / 0%) 100%);
  background-size: auto 4px;
  z-index: 1;
}

.overlay::before {
  content: "";
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(2%, rgb(32 128 32 / 20%)), color-stop(3%, rgb(32 128 32 / 80%)), color-stop(3%, rgb(32 128 32 / 20%)), to(transparent));
  background-image: linear-gradient(0deg, transparent 0%, rgb(32 128 32 / 20%) 2%, rgb(32 128 32 / 80%) 3%, rgb(32 128 32 / 20%) 3%, transparent 100%);
  background-repeat: no-repeat;
  animation: scan 5s linear 0s infinite;
  animation: scan 5s linear 0s infinite;
}

@keyframes scan {
  0% { background-position: 0 -100vh; }
  100% { background-position: 0 100vh; }
}

@keyframes scan {
  0% { background-position: 0 -100vh; }
  100% { background-position: 0 100vh; }
}

.terminal {
  box-sizing: inherit;
  margin-top: 12rem;

  /* text-transform: uppercase; */
  @apply container mx-auto pl-8;
}

.terminal h1 {
  @apply text-6xl md:text-8xl;
}

.terminal .output {
  color: rgb(128 255 128 / 80%);
  text-shadow: 0 0 1px rgb(51 255 51 / 40%), 0 0 2px rgb(255 255 255 / 80%);
}

.terminal .output::before { content: "> "; }

.terminal a,
.terminal button {
  text-decoration: underline;
  text-underline-offset: 0.35rem;
  color: #fff;
  text-shadow: 0 0 1px rgb(51 255 51 / 40%), 0 0 2px rgb(255 255 255 / 80%);
}

.terminal .errorcode { color: white; }

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
