@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply antialiased;
  @apply bg-gradient-to-r from-purple-400 via-pink-500 to-red-500;
  scroll-behavior: smooth;
  /* background-color: #ded5c4; */
}

main {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444040;
  padding: 0 10px;
  font-family: sans-serif; 
  min-height: 600px;
}

h1, h2, h3, h4, h5, h6 {
  /* color: #332B4E; */
  @apply leading-normal;
}
strong { color: #605A75; }
p { color: #234543; }

a { @apply text-blue-600; } /* visited:text-purple-600; } */
