.construction {
  font-size: 128px;
  line-height: .9;
}

.construction > span {
  display: inline-block;
  margin-left: 3rem;
  animation: 4s elevate 2s infinite alternate;
}

@keyframes elevate { to { transform: translateY(1rem) } }
